@import "standarts/variables.scss";
@import "standarts/mixins.scss";

/*Библиотеки*/
@import "libs/normalize.scss";
@import "libs/fonts.scss";
/*@import "libs/slick.scss";*/

/*Основные*/
@import "standarts/main.scss";

/*БЭМ-блоки*/
@import "bem/helper.scss";
@import "bem/banner.scss";
@import "bem/product-img.scss";
@import "bem/arrow.scss";
@import "bem/btn.scss";
@import "bem/cross.scss";
@import "bem/marker.scss";
@import "bem/input.scss";
@import "bem/select.scss";
@import "bem/textarea.scss";
@import "bem/checkbox.scss";
@import "bem/text.scss";
@import "bem/label.scss";
@import "bem/input-file.scss";
@import "bem/add-img.scss";


@import "bem/important.scss";
@import "bem/table.scss";
@import "bem/part.scss";
@import "bem/pagination.scss";
@import "bem/create-order.scss";
@import "bem/cart-order.scss";
@import "bem/buyout.scss";
@import "bem/cart.scss";
@import "bem/video-box.scss";
@import "bem/operation.scss";
@import "bem/pay-button.scss";
@import "bem/payment.scss";
@import "bem/video.scss";
@import "bem/search.scss";
@import "bem/pay-card.scss";
@import "bem/mini-cart.scss";
@import "bem/redemption-order.scss";

/*Блоки в сайте*/
@import "blocks/wrap-form.scss";
@import "blocks/tab-sign.scss";
@import "blocks/top.scss";
@import "blocks/user-box.scss";
@import "blocks/container.scss";
@import "blocks/popup.scss";
@import "blocks/error-page.scss";
@import "blocks/replenish.scss";
@import "blocks/payment-information.scss";
@import "blocks/change-password.scss";
@import "blocks/intro.scss";
@import "blocks/my-information.scss";
@import "blocks/transaction-history.scss";
@import "blocks/transaction-info.scss";
@import "blocks/my-addresses.scss";
@import "blocks/operation-result.scss";
@import "blocks/promo.scss";
@import "blocks/referral-table.scss";
@import "blocks/referral-statistics.scss";
@import "blocks/referral-rules.scss";
@import "blocks/referral-desc.scss";
@import "blocks/promocode.scss";
@import "blocks/privacy.scss";
@import "blocks/instruction.scss";
@import "blocks/stage.scss";

/*Помощники*/
@import "libs/helpers.scss";
