.important {
    background-color: $u-yellow;
    padding: 17px;

    &__table {
        margin-top: 15px;
        border-collapse: collapse;
        td:first-child {
            padding-right: 20px;
        }
    }

    &--exchange {
        box-sizing: border-box;
        padding: 15px 25px;
        @include flex;

        p {
            margin: 0;
        }
    }

    &--alert {
        background-color: $u-alarm;
    }

    &--content {
        position: relative;
        padding-left: 0;
        padding-right: 0;

        &:after,
        &:before {
            position: absolute;
            left: -30px;
            top: 0;
            background-color: $u-yellow;
            height: 100%;
            width: 30px;
            content: '';
        }

        &:after {
            right: -30px;
            left: auto;
        }
    }
}
