.container {
    padding-bottom: 40px;
    margin-top: 33px;
    @include flex;
    align-items: flex-start;

    &__part {
        max-width: 278px;
        width: 100%;
    }

    &__user-sidebar {
        margin-top: 40px;
    }

    &__confirmation {
        max-width: 100%;
        display: block;
        margin-top: 30px;
    }

    &__center {
        max-width: 584px;
        width: 100%;
    }

    &__additionally {
        max-width: 278px;
        width: 100%;
    }

    &__order {
        margin-top: 9px;

        &--success {
            margin-top: 0;
            background-color: $u-white;
            padding: 25px 30px;
        }
    }

    &__pagination {
        margin-top: 10px;
    }

    &__banner {
        margin-top: 30px;
    }

    &__exchange {
        max-width: 320px;
    }

    &__table {
        &--success {
            max-width: 320px;
            margin-bottom: 10px;
        }
    }

    &__operation {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 10px;
        padding-bottom: 20px;
        border-bottom: 1px solid $silver-big;

        &--replenish {
            margin-top: 15px;
            margin-bottom: 30px;
        }
    }

    &__payment {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid $silver-big;
    }

    &__payment-method {
        width: 100%;
    }

    &__mini-cart {
        margin-bottom: 30px;
    }

    &__video {
        margin-bottom: 30px;
    }

    &__redemption {
        margin-bottom: 20px;
    }

    &__create {
        margin-bottom: 30px;
    }

    &__payment-information {
        margin-top: 10px;
    }

    &__intro {
        margin-bottom: 30px;
    }

    &__transaction-history {
        margin-bottom: 30px;
    }

    &__my-addresses-new {
        margin-top: 20px;
    }

    &__operation-result {
        margin-bottom: 15px;
    }
}

/*Планшет*/
@media (max-width: $desctop-width - 1) {
    .container {
        display: block;

        &:after {
            content: '';
            clear: both;
            display: table;
        }

        &__part {
            float: left;
        }

        &__additionally {
            float: left;
            margin-top: 10px;
        }

        &__center {
            float: right;
            max-width: 480px;
        }

        &__operation {
            &--replenish {
                margin-top: 0;
            }
        }
    }
}

/*Мобильные*/
@media (max-width: $tablet-width - 2) {
    .container {
        display: flex;
        flex-wrap: wrap;
        &__part,
        &__additionally {
            max-width: 100%;
        }

        &__center {
            margin-top: 20px;
            margin-bottom: 20px;
        }

        &__order {
            &--success {
                padding: 20px 15px;
            }
        }

        &__payment-method {
            width: 100%;
        }
    }
}
