.error-page {
    text-align: center;

    &__num {
        font-size: 220px;
        line-height: 200px;

        svg {
            display: inline-block;
            margin-left: -115px;
            margin-right: -115px;
        }
    }

    &__text {
        text-align: center;
        margin-top: 0;
        margin-bottom: 25px;
    }

    &__btn {
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}


/*Мобильные*/
@media (max-width: $tablet-width - 2) {
    .error-page {
        &__num {
            font-size: 170px;
            line-height: 160px;

            svg {
                width: 100px;
                margin-left: -20px;
                margin-right: -20px;
                transform: translate(0, 20px);
            }
        }

        &__btn {
            max-width: 100%;
        }
    }
}
