.intro {
    background-color: $u-white;
    padding: 30px;
    padding-bottom: 29px;

    &__title {
        margin-bottom: 24px;

        img {
            display: inline-block;
            vertical-align: middle;
            width: 40px;
            height: 40px;
            margin-right: 12px;
        }

        span {
            display: inline-block;
            vertical-align: middle;
        }
    }

    &__btn {
        padding-left: 50px;
        padding-right: 50px;
        margin-top: 20px;
    }
}

/*Мобильные*/
@media (max-width: $tablet-width - 2) {
    .intro {
        &__btn {
            display: block;
            padding-right: 0;
            padding-left: 0;
        }
    }
}
