.intro {
    background-color: $u-white;
    padding: 30px;
    padding-bottom: 29px;

    &__title {
        margin-bottom: 24px;

        img {
            display: inline-block;
            vertical-align: middle;
            width: 40px;
            height: 40px;
            margin-right: 12px;
        }

        .intro__promocode {
            width: 64px;
            height: 54px;
        }

        span {
            display: inline-block;
            vertical-align: middle;
        }
    }

    &__btn {
        padding-left: 50px;
        padding-right: 50px;
        margin-top: 20px;
    }

    &__flex {
        @include flex(wrap);
        border-top: 1px solid $silver-big;
        margin-top: 33px;
        padding-top: 30px;
    }

    &__desc {
        width: 100%;
        margin-bottom: 15px;
    }

    &__input {
        flex-grow: 1;
        align-self: stretch;
        margin-right: 10px;
    }
}

/*Мобильные*/
@media (max-width: $tablet-width - 2) {
    .intro {
        &__btn {
            display: block;
            padding-right: 0;
            padding-left: 0;
        }
        &__flex {
            justify-content: center;
        }
        &__input {
            margin-bottom: 10px;
            margin-right: 0;
        }
    }
}
