.my-information {
    background-color: $u-white;
    padding: 30px;
    padding-bottom: 29px;

    &__label {
        margin-bottom: 15px;
        max-width: 280px;

        &--margin {
            &_none {
                margin: 0;
            }
        }

        &--select {
            @include flex(wrap);
        }
    }

    &__btn {
        margin-top: 30px;
        max-width: 280px;
        width: 100%;
    }

    &__checkbox {
        width: auto;
        display: inline-block;

        &--margin {
            &_right {
                margin-right: 19px;
            }
        }
    }
}
