.replenish {
    background-color: $u-white;
    padding: 25px 30px;

    &__select {
        max-width: 70%;
        width: 100%;
        margin-left: auto;
    }

    &__label-wrap {
        margin-bottom: 20px;
        @include flex;
        justify-content: flex-start;
    }

    &__input {
        margin-left: auto;
        margin-right: 10px;
        width: 45%;
    }

    &__important {
        padding-right: 70px;
    }

    &__helper-text {
        margin-top: 28px;
        margin-bottom: 8px;
        padding-top: 28px;
        border-top: 1px solid $silver-normal;
    }

    &__pay-card {
        margin-top: 25px;
        margin-bottom: 25px;
    }

    &__wrap-button {
        @include flex;
        padding-top: 30px;
        margin-top: 30px;
        border-top: 1px solid $silver-normal;
    }
}

/*Планшет*/
@media (max-width: $desctop-width - 1) {
    .replenish {
        &__label-wrap {
            .label {
                font-size: 15px;
            }

            &--summ {
                .label {
                    max-width: 150px;
                }
            }
        }

        &__wrap-button {
            .text {
                max-width: 250px;
            }
        }
    }
}

/*Мобильные*/
@media (max-width: $tablet-width - 2) {
    .replenish {
        &__label-wrap {
            flex-wrap: wrap;

            .label {
                flex-grow: 1;
                max-width: 100%;
                text-align: center;
                margin-bottom: 5px;
            }
        }

        &__select {
            max-width: 100%;
            margin-left: 0;
            margin-right: 0;
        }

        &__input {
            flex-grow: 1;
        }

        &__important {
            padding-right: 25px;
        }

        &__wrap-button {
            flex-wrap: wrap;
            text-align: center;
            justify-content: center;

            .text {
                margin-bottom: 10px;
            }
        }
    }
}
