.transaction-info {
    background-color: $u-white;
    padding: 20px;
    position: relative;

    &__close {
        position: absolute;
        right: 20px;
        top: 20px;
    }

    &__title {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    &__details {
        padding-top: 10px;
        margin-top: 10px;
        border-top: 1px solid $silver-normal;
    }

    &__hint {
        margin-top: 6px;
        margin-bottom: 3px;
    }

    &__line {
        margin: 2px 0;
        @include flex;

        span {
            margin-right: auto;
            margin-left: 0;
        }
    }
}

/*Мобильные*/
@media (max-width: $tablet-width - 2) {
    .transaction-info {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 320px;
        width: 100%;
        box-sizing: border-box;
        box-shadow: 0px 2px 6px 0px rgba(219, 219, 219, 0.4);
        display: none;
    }
}
