.user-box {
    @include flex;
    background-color: $u-white;
    padding: 20px;
    padding-left: 25px;
    box-sizing: border-box;

    &__text {
        margin: 0;
    }

    &__name {
        display: block;
    }

    &__balance {
        @include flex;
        align-items: stretch;
    }

    &__btn {
        &--left {
            border-radius: 3px 0 0 3px;
            padding-left: 22px;
            padding-right: 22px;
        }
        &--right {
            border-radius: 0 3px 3px 0;
            padding-left: 28px;
            padding-right: 28px;
        }
    }
}


/*Планшет*/
@media (max-width: $desctop-width - 1) {
    .user-box {
        padding: 15px;
        padding-left: 20px;

        &__btn {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}

/*Мобильные*/
@media (max-width: $tablet-width - 2) {
    .user-box {
        flex-wrap: wrap;

        &__text {
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }

        &__balance {
            margin-top: 15px;
            flex-wrap: wrap;
            justify-content: center;
        }

        &__btn {
            margin-bottom: 10px;
            &--left {
                order: -2;
            }
            &--right {
                order: -1;
            }
        }

        &__select {
            width: 91.5%;
        }
    }
}
